body {
    background-color: aquamarine;
    /*     when in doubt use Caslon
 */
}

h1 {
    color: palevioletred;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 1em;
}

div h2 {
    color: rgb(33, 121, 92);
    text-align: center;
}

p {
    color: rgb(33, 121, 92);
}

header {
    position: sticky;
    top: 0px;
}

nav {
    background-color: rgb(229, 252, 245);
    padding: 1.4em;
}

a {
    text-decoration: none;
    color: rgb(33, 121, 92);
}

nav a {
    font-size: 1.3em;
    text-transform: uppercase;
}

a:hover {
    color: rgb(23, 66, 51);
}

.contact-link {
    position: relative;
    float: right;
}

.content-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0% 15% 15% 15%;
    color: rgb(33, 121, 92);
}

.item-index {
    padding: 1em;
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    margin: 1em;
}

.listed-img {
    max-width: 200px;

}

.name-index {
    font-size: 1.4em;
}

.error {
    color: black;
    font-size: 2em;
}


/* //////////////////////////// */

.details-name {
    font-size: 2em;
    text-align: left;
}

.details-img {
    width: 400px;
    max-width: 60%;

}

.details-content {
    background-color: rgb(229, 252, 245);
    padding: 1% 10% 5% 10%;
}


/* //////////////////////////// */


fieldset {
    background-color: white;
}

input {
    margin-bottom: 20px;
width: 300px;

}

.subject {
    height: 200px;
}

.form-container {
    background-color: rgb(229, 252, 245);
    padding: 10%;
}
button {
    margin-top: 10px;
    color: palevioletred;
    background-color: aquamarine;
    width: 200px;
}

.form-error {
    color: red;
    font-size: 0.9em;
}